/* SKELETON OVERRIDES */

.body {
    letter-spacing: 2px;
}

.container {
    width: 100%;
    max-width: 100%;
}

.button {
    height:0;
}

.button:hover{
height: 0;
}

/* HIDE ON MOBILE CONDITION */

.hide-on-mb {
    display: none;
}


/* SHOW ON MOBILE CONDITION */

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

marginAuto{
    margin: auto;
}

.cursorStyle {
    cursor: pointer;
}

.txtCenter {
text-align: center;
}

/* TYPOGRAPHY STYLES */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Dosis', sans-serif;
    font-kerning: auto;
    font-weight: 400;
}

p {
    font-family: 'Lato', sans-serif;
}

/* HR STYLES */

.myHr1 {
    border: 0;
    height: 2.5px;
    background: #0b0b0b;
    margin-right: 80%;
}

.myHr2 {
    border: 0;
    height: 2.5px;
    background: #0b0b0b;
    margin-left: 45%;
    margin-right: 45%;
}


/* BUTTON STYLES */

.blackBtn {
    border: 2px solid #000000;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.blackBtn:hover {
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 500;
    
}

.whiteBtn {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.whiteBtn:hover {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
}

/* ICON COLORS */

.blackIcon {
    color: #000000;
}

.whiteIcon {
    color: #ffffff;
}

.behanceBlue {
    color: #1769ff;
}

.instagramPurple {
    color: #bc2a8d;
}

.padding-top {
    padding-top: 50px;
}

.darkblue {
    background-color: #11171E;
}

darkerblue {
    background-color: #0f151c
}


/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption1  {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption3  {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption4  {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption5  {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



